{% include 'emp_tamplates/emp_navbar.html' %}
<h1 class="text-center my-3">Employee Management System</h1>
<div class="coatiner">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="/emp/do-update-employee/{{employee.emp_id}}" method="POST">
                        {% csrf_token %}
                        <div class="row mb-4">
                            <div class="col">
                                <!-- First Name input -->
                                <div class="form-outline">
                                    <label class="form-label" for="first_name">First name</label>
                                    <input type="text" id="first_name" name="first_name" class="form-control"
                                        placeholder="Sanjeev"
                                        value="{{employee.first_name}}" />
                                </div>
                            </div>
                            <div class="col">
                                <!-- Last Name Input -->
                                <div class="form-outline">
                                    <label class="form-label" for="last_name">Last name</label>
                                    <input type="text" id="last_name" name="last_name" class="form-control"
                                        placeholder="Roy"
                                        value="{{employee.last_name}}"/>
                                </div>
                            </div>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="employee_email">Email address</label>
                            <input type="email" id="employee_email" name="employee_email" class="form-control"
                                placeholder="abc@gmail.com"
                                value="{{employee.email}}" />
                        </div>

                        <div class="row mb-4">
                            <div class="col">
                                <!-- Phone Number input -->
                                <div class="form-outline">
                                    <label class="form-label" for="employee_phone">Phone Number</label>
                                    <input type="text" id="employee_phone" name="employee_phone" class="form-control"
                                        placeholder="9876543210"
                                        value="{{employee.phone}}" />
                                    <div class="form-text">Enter only 10 digit phone number</div>
                                </div>
                            </div>

                            <div class="col">
                                <!-- Department input -->
                                <label for="employee_department" class="form-label">Department</label>
                                <select name="employee_department" id="employee_department" value="{{employee.department}}" class="form-select">
                                    <option>Select</option>
                                    <option>Software Engineer</option>
                                    <option>Data Analyst</option>
                                    <option>Associate Developer</option>
                                    <option>Front End Developer</option>
                                    <option>Back End Developer</option>
                                    <option>Full End Developer</option>
                                    <option>Human Resource</option>
                                    <option>IT Engineer</option>
                                </select>
                            </div>
                        </div>

                        <!-- Address input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="employee_address">Address</label>
                            <input type="text" id="employee_address" name="employee_address" class="form-control"
                                placeholder="Begusarai, Bihar"
                                value="{{employee.address}}" />
                        </div>

                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-center mb-4">
                            <input class="form-check-input me-2" type="checkbox" value="{{employee.isActive}}" id="newsletter_checked"
                                name="newsletter_checked" {% if employee.emp_isActive %} checked {% endif %} />
                            <label class="form-check-label" for="newsletter_checked">
                                Subscribe to our newsletter
                            </label>
                        </div>
                        <div class="container text-center">
                            <button type="submit" class="btn btn-primary">Update Employee</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% include 'emp_tamplates/emp_footer.html' %}